{%  render 'partials/head.liquid' %}

<header>
    <h1>Collectie</h1>
</header>

<main>
    <ul>
        <li></li>
    </ul>
</main>

{%  render 'partials/navbar.liquid', huidigPad: huidigPad %}

{%  render 'partials/foot.liquid' %}