{%  render 'partials/head.liquid' %}

<header>
    <h1>Collectie</h1>
</header>

<main class="main-collection">

    <article>
        <img src="/assets/ndb.png" alt="">
        <h2>Na de bloei</h2>
        <p>Bekijk alle digitale kaarten die je hebt gespaard in het bloemenveld en lees de bijbehorende informatie over de bloem of plant terug.</p>
        <a>Bekijk alle kaarten</a>
    </article>

    <article>
        <img src="/assets/idb.png" alt="">
        <h2>In de bloei</h2>
        <p>Bekijk alle digitale kaarten die je hebt gespaard in het bloemenveld en lees de bijbehorende informatie over de bloem of plant terug.</p>
        <a>Bekijk alle kaarten</a>
    </article>

</main>

{%  render 'partials/navbar.liquid', huidigPad: huidigPad %}

{%  render 'partials/foot.liquid' %}