{%  render 'partials/head.liquid' %}

<main>
    <section>
        <p>Welkom bij de bloemenveld frankendael webapp</p>
        <p>De webapp waarbij je bloemenveld frankendael leert kennen door drie handige functies</p>
        <img src="" alt="">

        <nav>
            <button>terug</button>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <button>volgende</button>
        </nav>
    </section>

    <section>
        <p>Veldverkenner</p>
        <p>De veldverkenner is het pareltje van de webapp, hier leer je door een interactieve ervaring over wat er groeit op het veld</p>
        <img src="" alt="">
        
        <nav>
            <button>terug</button>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <button>volgende</button>
        </nav>
    </section>

    <section>
        <p>Nieuws</p>
        <p>Nooit iets missen over het veld? kijk dan op de nieuws pagina voor alle updates</p>
        <img src="" alt="">
        
        <nav>
            <button>terug</button>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <button>volgende</button>
        </nav>
    </section>

    <section>
        <p>Collectie</p>
        <p>Alles wat je bij de veldverkenner vind, word hier opgeslagen</p>
        <img src="" alt="">
        
        <nav>
            <button>terug</button>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <button>volgende</button>
        </nav>
    </section>
</main>

{%  render 'partials/foot.liquid' %}